@font-face {
    font-family:raleway;
    src: url("ralewayv.ttf");
}
html {
    scroll-behavior:smooth !important;
}
* {
    margin: 0;
    border: border-box;
}

.navbar{
    height: 120px;
    color:var(--dwlb);
    display: flex; 
    align-items:center;
    justify-content: space-evenly;
}
.ln {
    width: 300px;
    display: flex;
    align-items: center;
}
.nav-logo {
    height: 80px;
    width: 85px;
}
.logo {
    background-image: url("navlogo.png");
    background-size: cover;
    height: 80px;
    width: 80px;
   
}
.name {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.subtitle {
    font-family: sans-serif;
    background-color: rgba(255,255,255,0.0);
}
.border {
    border : 1px solid transparent;
}
.navi {
    text-align: right;
    flex:1;
}
.pad {
    color:var(--dwlb);
    background-color: rgba(255,255,255,0.1);
    border-bottom: 1.5px transparent;
    border-top: 0px;
    border-left:0px;
    border-right:0px; 
    text-decoration: none;
    backdrop-filter: blur(10px); 
    margin-right:10px;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 16px;
}
   
.pad:hover {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid ;
    border-image: var(--borderimg);
    background-color: rgba(255, 255, 255, 0.5);
    border-image-slice: 1;
}
.pad:active {
    font-size: 16px;
}
.dropdown{
    display: inline-block;
}
.content{
    background-color: transparent;
    position: absolute;
    text-align: center;
    display: none;
    margin-left: 8px;
    padding-top: 8px;
}
.dropdown a{
    display:block;
    padding: 5px;
    margin-top: 5px;
}
.dropdown:hover .content{
    display:block;
}

.body{
    height: 980px;
    background-image: var(--banner);
    background-size :cover;
    background-attachment:fixed;
}
.title2 {
    font-size: 26px;
    height: 600px;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align:center;
}
.sub2 {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:white;
    text-align: center;
    line-height: 1.785em;
    backdrop-filter:blur(10px);
    border-radius: 20px;
    background-color: rgba(255,255,255,0.06);
}
.videobox {
    height: 900px;
    background-image: var(--videoboxbki);
    background-color: var(--videoboxbki);
    padding-left:0.7cm;
}
.video {
    padding: 48px 80px 0px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
}
.video1 {
    width: 325px;
    height: 200px;
}
.info {
    color: var(--dwlb);
    height: 156px;
    width: 360px;
    padding: 14px 0px 0px;
    margin:6px 20px 0px;
    text-overflow: ellipsis;
}
.cname {
    font-size: 13.5px;
    margin-bottom: 13.5px;
}
.vtitle {
    max-width: 300px ;
    
    font-size: 15px;
    margin-bottom: 11.5px;
    text-overflow: ellipsis;
}
.desc {
    max-width: 300px;
    font-size: 13.5px;
}
.button {
    color:var(--dwlb);
    background-color: transparent ;
    margin: 0px 525px ;
    height: 64px ;
    width: 160px ;
    font-size: 16px;
    border: 1px var(--dwlb) solid;
}
.line {
    margin-bottom: 0px;
    color:var(--dwlb);
}
.contact {
    display:flex
}
.contact {
    color:var(--dwlb);
    background-color:var(--contactbki);
    
}
.coninfo {
    margin: 30px 400px ;
    text-align: center; 
    text-justify: center;
    background-color: transparent;

       
}
.git {
    font-size: 40px ;
}
.footer {
    background-color:var(--footerbki);
    color:var(--dwlb);
    text-align: center;
    text-justify: bottom;
    padding-top: 40px;
    padding-bottom: 30px;
}
#topbtn {
    font-size: 18px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: red;
    color:white;
    border-radius: 20px;
    height: 30px;
    width: 50px;
    border: none;
}
/*About*/
.bodyabout {

   background-image: linear-gradient(to bottom right,black,black,red,black,black);
}
.abmain {
    text-align: center;
    background-color: #00000050;
    color: white;
    height: 400px; 
    margin: 80px 0px 50px ;
}
.about {
    padding-top: 60px;
    padding-bottom: 27px;
    font-size: 20px ;
}
.textab {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 17px;
}
:root{
    --dwlb:black;
    --videoboxbki:transparent;
    --contactbki:transparent;
    --footerbki:transparent;
    --banner:url("3.jpg");
}
.LightMode{
    --dwlb:black;
    --videoboxbki:transparent;
    --contactbki:transparent;
    --footerbki:rgb(197, 197, 197);
    --banner:url("3.jpg");
    --borderimg:linear-gradient(to right,blue,rgb(252, 250, 250),blue);
}
.GameMode{
    --dwlb: white;
    --videoboxbki:linear-gradient(to bottom right,rgb(0, 0, 0),rgb(24, 0, 112),rgb(189, 0, 0),rgb(24, 0, 112),rgb(0, 0, 0));
    --contactbki:black;
    --footerbki:black;
    --banner:url("Banner.png");
    --borderimg:linear-gradient(to right,red,rgb(252, 250, 250),red);
    
}
.Yellow{
    --banner:url("1.jpg");
    --dwlb:black;
    --videoboxbki:#b7f7a5;
    --footerbki:#009f8f;
    --borderimg:linear-gradient(to right,green,rgb(252, 250, 250),green);
    --contactbki:rgb(255, 137, 47);
}
.Blue{
    --banner:url("2.jpg");
    --dwlb:black;
    --videoboxbki:rgb(255, 190, 201);
    --contactbki:rgb(237, 158, 214);
    --footerbki:#3f3fa3;
    --borderimg:linear-gradient(to right,pink,rgb(252, 250, 250),pink);
}
.DarkMode{
    --banner:url("4.jpg");
    --dwlb: white;
    --videoboxbki:rgba(0, 0, 0, 0.6);
    --contactbki:rgba(0, 0, 0, 0.6);
    --footerbki:black;
    --borderimg:linear-gradient(to right,rgb(255, 255, 255),rgb(0, 0, 0),rgb(255, 255, 255));
}
